.listItems{
    /*background-color: salmon;*/
    padding:0px 0px;
    margin:35px 0;
}

.listText{
    /*background-color: red*/;  
}


/*Home Page Styling*/
/*-----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------*/
#home .coverImage{
    /*background-color: green;*/
    overflow:hidden;
    height:60vw;
    margin:5vw auto 7vw;

}

#home .coverImgMask{
overflow:hidden;
height:100%;
width:;
/*background-color: yellow;*/
}

.desktopCoverImg{
    display:block;
}

.mobileCoverImg, .tabletCoverImg{
    display:none;
}

.homeText{
    /*background-color: yellow;*/
    top:-18vh;
}

/*Destination Explore Page Styling*/
/*-----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------*/
.locationModal{
    /*max-width:380px;*/
    width:43vw;
    height:90vh;
    overflow:scroll;
    float:right;
    margin-top:80px;
    margin-right:10px;
}