.listItems{
    /*background-color: salmon;*/
    padding:0px 0px;
    margin:35px 0;
}

.listText{
    /*background-color: red*/;  
}

/*Home Page Styling*/
/*-----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------*/

/*Destination Explore Page Styling*/
/*-----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------*/
.locationModal{
    /*max-width:380px;*/
    width:43vw;
    height:90vh;
    overflow:scroll;
    float:right;
    margin-top:80px;
    margin-right:10px;
}