/*Destination Favourite Page Styling*/
/*-----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------*/
.listIntro{
    /*background-color: purple;*/
    padding:4vw 0;
}

.listIntroText{
    top:-25px;
    position: relative;
    max-width:373px;
}

.listItems{
    float:left;
    padding:0 0;
}

.listText {
    top:45px;
    position: relative;

}

.listBottom{
    margin-bottom: 60px;
}

 .special1, .special2{
    height:35vw;
    width:80vw;
    overflow:hidden;
}

.special1 .listDisplay,
.special2 .listDisplay{
    overflow:hidden;
    width:52.5vw;
    /*background-color: red;*/
}

.special1 .listDisplay img{
    width:120%;
    height:auto;
}


/*Destination Explore Page Styling*/
/*-----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------*/
svg {
    max-height: 80vh;
}

#destinationModals .modal .listItems{
  float:none;
}

#destinationModals .modal .listText {
    top:0;
    margin-bottom:0;
    position: none;
}

.locationModal{
    max-width:500px;
    width:45vw;
    height:90vh;
    overflow:scroll;
    float:right;
    margin-top:80px;
    margin-right:10vw;
}

/*Home Page Styling*/
/*-----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------*/
#home .coverImage{
    /*background-color: green;*/
    overflow:hidden;
    height:46vw;
    margin:5vw auto 7vw;

}

#home .coverImgMask{
overflow:hidden;
height:45vw;
width:;
/*background-color: yellow;*/
}

.desktopCoverImg{
    display:block;
}

.mobileCoverImg, .tabletCoverImg{
    display:none;
}

.homeText{
    /*background-color: yellow;*/
    top:-15vw;
}